---
import toys from "../assets/toys2.jpg";
import EducationIcon from "./icons/EducationIcon.astro";
import EyeIcon from "./icons/EyeIcon.astro";
import ScaleIcon from "./icons/ScaleIcon.astro";
import PillarCard from "./PillarCard.astro";
---

<div id="container">
  <main class="hero-section">
    <section id="hero">
      <div id="hero-content">
        <h1>Prevention of Emotional and Psychological Abuse</h1>
        <p>
          A professional organization which works for the protection of children
          through education, support, and systemic change.
        </p>
      </div>
      <div class="pillars">
        <PillarCard
          title="Awareness"
          description="Raising public consciousness about the hidden signs of psychological abuse to ensure every child is seen and heard."
        >
          <EyeIcon slot="icon" />
        </PillarCard>
        <PillarCard
          title="Education"
          description="Providing specialized training for professionals and caregivers to effectively identify and intervene in coercive environments."
        >
          <EducationIcon slot="icon" />
        </PillarCard>
        <PillarCard
          title="Legislative"
          description="Championing policy reform and legal advocacy to strengthen protections and secure justice for children in the legal system."
        >
          <ScaleIcon slot="icon" />
        </PillarCard>
      </div>
    </section>
  </main>
</div>

<style>
  #container {
    position: relative;
    min-height: calc(100vh);
  }
  #background {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 40%,
      black 100%
    );
    mask-repeat: no-repeat;
    object-position: 36rem;
  }

  h1 {
    font-weight: 900;
    line-height: 4rem;
    font-size: 3rem;
    color: var(--black);
    margin: 0;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  p {
    text-align: center;
  }

  main {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    top: 0;
    color: "black";
    background: linear-gradient(
      0deg,
      hsl(213 22% 86% / 1) 10%,
      transparent 100%
    );
  }

  #hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10vh;
    padding: 0 3.5rem;
  }
  #hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  #hero-content p {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 300;
  }
  .pillars {
    display: flex;
    gap: 2rem;
    margin: auto;
    max-width: 90rem;
  }

  .pillars-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }
</style>
