---
import toys from "../assets/toys2.jpg";
---

<div id="container">
  <img id="background" src={toys.src} alt="" fetchpriority="high" />
  <main>
    <section id="hero">
      <div id="hero-content">
        <h1>Prevention of Emotional and Psychological Abuse</h1>
        <p>
          A professional organization dedicated to the safety and psychological
          well-being of every child through stabiility and strength
        </p>
      </div>
    </section>
  </main>
</div>

<style>
  #container {
    position: relative;
    min-height: calc(100vh);
  }
  #background {
    width: 100%;
    height: 100vh;
    object-fit: contain;
    z-index: -1;
    mask-image: linear-gradient(
      to right,
      transparent 0%,
      transparent 40%,
      black 100%
    );
    mask-repeat: no-repeat;
    object-position: 36rem;
  }

  h1 {
    font-weight: 900;
    line-height: 4rem;
    font-size: 3rem;
    color: var(--black);
    margin: 0;
  }

  @media (max-width: 1024px) {
    h1 {
      font-size: 3rem;
      line-height: 3rem;
    }
  }

  main {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    top: 0;
    color: "black";
  }
  #hero-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding-left: 3.5rem;
  }
  #hero-content p {
    font-size: 1.25rem;
    margin: 0;
    font-weight: 300;
  }
</style>
