---
import Button from "./Button.astro";
import logo from "../assets/logo.svg";
import Modal from "./Modal.astro";
import { GeneralRequestForm } from "./react/GeneralRequestForm";
const path = Astro.url.pathname;
---

<header>
  <div id="logo-container">
    <img src={logo.src} alt="" width="40" height="40" />
    <span class="logo">EPAO</span>
  </div>
  <nav>
    <ul>
      <li class={`nav-item ${path === "/" ? "active" : ""}`}>
        <a href="/">Home</a>
      </li>
      <li class={`nav-item ${path === "/about" ? "active" : ""}`}>
        <a href="/about">About us</a>
      </li>
      <li class={`nav-item ${path === "/services" ? "active" : ""}`}>
        <a href="/services">Services</a>
      </li>
      <li class={`nav-item ${path === "/events" ? "active" : ""}`}>
        <a href="/events">Events</a>
      </li>
      <li class={`nav-item ${path === "/resources" ? "active" : ""}`}>
        <a href="/resources">Resources</a>
      </li>
      <li class={`nav-item ${path === "/library" ? "active" : ""}`}>
        <a href="/library">Library</a>
      </li>
    </ul>
  </nav>
  <Button
    variant="primary"
    text="Contact us"
    command="show-modal"
    commandFor="contact-modal"
  />

  <Modal id="contact-modal" title="Contact us">
    <GeneralRequestForm client:load />
  </Modal>
</header>

<style>
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5rem; /* 80px / 16px = 5rem */
    padding: 1rem; /* 16px / 16px = 1rem */
    position: fixed;
    top: 0;
    background-color: hsl(240deg 10% 94% / 86%);
    z-index: 1000;
    padding-left: 1.5rem; /* 24px / 16px = 1.5rem */
    padding-right: 1.5rem; /* 24px / 16px = 1.5rem */
    background-color: rgba(255, 255, 255, 0.1); /* Slight white tint */
    backdrop-filter: blur(10px); /* Blurs the image behind it */
  }
  #logo-container {
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-500);
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  .active {
    color: var(--button-primary);
    border-bottom: 2px solid var(--button-primary);
    padding-bottom: 0.25rem; /* 4px / 16px = 0.25rem */
    font-weight: bold;
  }

  .nav-item {
    margin-right: 1rem;
    list-style: none;
  }
  .nav-item a {
    text-decoration: none;
    color: var(--primary-500);
  }
</style>
