---
import LatestCard from "./LatestCard.astro";
import lecture from "../assets/lecture.webp";
import lecture2 from "../assets/lecture2.webp";
import lecture3 from "../assets/lecture3.jfif";
---

<section id="latest-activities" class="section">
  <div id="latest-activities-content" class="section-content">
    <div id="latest-activities-header">
      <div id="latest-activities-title">
        <h2>Latest Events</h2>
      </div>
      <a href="/events" id="view-all-activities">View all events</a>
    </div>
    <div id="latest-activities-list">
      <LatestCard
        title="Lecture at Comenius University"
        description="Shared insights on child abuse prevention at Comenius University in Bratislava."
        date="March 15, 2026"
        img={lecture.src}
      />
      <LatestCard
        title="Meeting with the Ministry of Education"
        description="Very insightful meeting with the Ministry of Education"
        date="March 10, 2026"
        img={lecture2.src}
      />
      <LatestCard
        title="We participated in the Child Protection Week"
        description="Joined Child Protection Week in Bratislava, advocating for child safety."
        date="March 5, 2026"
        img={lecture3}
      />
    </div>
  </div>
</section>

<style>
  #latest-activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background: linear-gradient(
      180deg,
      hsl(213 22% 86% / 1) 10%,
      transparent 100%
    );
  }
  #latest-activities-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  #latest-activities-header a {
    text-decoration: none;
  }

  #latest-activities-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #latest-activities-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  #view-all-activities {
    color: var(--primary-500);
    font-size: 1rem;
    border-bottom: 2px solid var(--primary-500);
    padding-bottom: 0.25rem;
    cursor: pointer;
    font-weight: bold;
    margin-left: auto;
  }
  #latest-activities-list {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
    justify-content: center;
    gap: 2rem;
  }
</style>
