---
import AccreditedIcon from "./icons/AccreditedIcon.astro";
import orgInfoImg from "../assets/lecture.webp";
import { useTranslations } from "../i18n";
const i18n = useTranslations();
---

<section id="org-info" class="front-section">
  <div id="org-info-content" class="front-section-content">
    <div id="org-info-content-left">
      <h2>{i18n.orgInfo.title}</h2>
      {i18n.orgInfo.description.map((desc) => <p>{desc}</p>)}
    </div>
    <img src={orgInfoImg.src} alt="" id="org-info-image" />
  </div>

  <style>
    #org-info {
      background: linear-gradient(180deg, hsl(213 22% 86% / 1) 10%, transparent 100%);
    }

    #org-info-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5rem;
    }

    #org-info-content-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      gap: 1rem; /* Already in rem */
    }

    #org-info-image {
      width: 100%;
      object-fit: contain;
      border-radius: 12px;
      min-width: 0;
    }

    @media (max-width: 1024px) {
      #org-info-content {
        flex-direction: column;
        gap: 2rem;
      }
    }

    @media (max-width: 768px) {
      h2 {
        text-align: center;
      }
    }

    .pillars {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .pillars-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 2rem;
    }
  </style>
</section>
