---
const { title, description, isDark } = Astro.props;
const color = isDark ? "var(--white)" : "var(--black)";
const backgroundColor = isDark ? "var(--primary-500)" : "var(--light-color-bg)";
const boxShadow = isDark ? "var(--box-shadow-dk)" : "var(--box-shadow-lg)";
const colorIcon = isDark ? "var(--white)" : "var(--primary-500)";
---

<div class="pillar-card">
  <div class="pillar-card-header">
    <span class="pillar-card-icon">
      <slot name="icon" />
    </span>
    <h3>{title}</h3>
  </div>
  <p>{description}</p>
</div>

<style define:vars={{ color, backgroundColor, boxShadow, colorIcon }}>
  .pillar-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    color: var(--color);
    box-shadow: var(--boxShadow);
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.1); /* Slight white tint */
    backdrop-filter: blur(10px); /* Blurs the image behind it */
    max-width: 45rem;
  }
  .pillar-card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
  }

  .pillar-card-icon :global(svg) {
    width: 2.5rem;
    height: 2.5rem;
    color: var(--colorIcon);
  }

  h3 {
    margin: 0;
    font-size: 1.75rem;
    font-weight: bold;
    color: var(--color);
  }
  p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    color: var(--black);
  }

  @media (max-width: 1024px) {
    .pillar-card {
      max-width: 100%;
    }
  }
</style>
