---
const { title, description, isDark } = Astro.props;
const color = isDark ? "var(--white)" : "var(--black)";
const backgroundColor = isDark ? "var(--primary-500)" : "var(--light-color-bg)";
const boxShadow = isDark ? "var(--box-shadow-dk)" : "var(--box-shadow-lg)";
const colorIcon = isDark ? "var(--white)" : "var(--primary-500)";
---

<div class="pillar-card">
  <div class="pillar-card-icon"><slot name="icon" /></div>
  <div class="pillar-card-content">
    <h3>{title}</h3>
    <p>{description}</p>
  </div>
</div>

<style define:vars={{ color, backgroundColor, boxShadow, colorIcon }}>
  .pillar-card {
    display: flex;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: var(--border-radius);
    color: var(--color);
    background-color: var(--backgroundColor);
    box-shadow: var(--boxShadow);
    align-items: flex-start;
  }
  .pillar-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
  }

  .pillar-card-icon :global(svg) {
    width: 2rem;
    height: 2rem;
    color: var(--colorIcon);
  }

  .pillar-card-content {
    display: flex;
    flex-direction: column;
    line-height: var(--small-text-lh);
    gap: 0.5rem;
  }
  .pillar-card-content h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--color);
  }
  .pillar-card-content p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
    color: var(--color);
  }
</style>
