---
const { title, description, isDark, width } = Astro.props;
const color = isDark ? "var(--white)" : "var(--black)";
const backgroundColor = isDark ? "var(--primary-500)" : "white";
const boxShadow = isDark ? "var(--box-shadow-dk)" : "var(--box-shadow-lg)";
const colorIcon = isDark ? "var(--white)" : "var(--primary-500)";
---

<div class="service-card">
  <div class="service-card-header">
    <div class="service-card-icon"><slot name="icon" /></div>
    <h3>{title}</h3>
  </div>
  <p>{description}</p>
</div>

<style define:vars={{ color, backgroundColor, boxShadow, width, colorIcon }}>
  .service-card {
    display: flex;
    width: 100%;
    padding: 2rem;
    border-radius: var(--border-radius);
    color: var(--color);
    background: radial-gradient(ellipse at center, transparent, hsl(213 22% 83% / 1));
    box-shadow: var(--boxShadow);
    flex-direction: column;
  }
  .service-card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .service-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: var(--border-radius);
  }

  .service-card-icon :global(svg) {
    width: 2rem;
    height: 2rem;
    color: var(--colorIcon);
  }

  h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color);
  }

  p {
    margin: 0;
    margin-top: 1rem;
    color: var(--color);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
  }
  .service-card-content {
    display: flex;
    flex-direction: column;
    line-height: var(--small-text-lh);
    gap: 0.5rem;
  }
  .service-card-content h3 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: bold;
  }
  .service-card-content p {
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
  }
</style>
