---
import ServiceCard from "./ServiceCard.astro";
import MegaphoneIcon from "./icons/MegaphoneIcon.astro";
import PencilRulerIcon from "./icons/PencilRulerIcon.astro";
import CompassIcon from "./icons/CompassIcon.astro";
import HandHeartIcon from "./icons/HandHeart.astro";
---

<section id="services" class="section">
  <div id="services-header">
    <h2>Our Services</h2>
    <p>
      We offer a variety of services to support parents and professionals in
      preventing child abuse.
    </p>
  </div>

  <div id="services-content">
    <ServiceCard
      title="Open Lectures"
      description="Everybody is welcome to learn about the significance of EPA. We include talks about healthy parenting, recognizing damaging patterns that may impact children."
      width="calc(70% - 2rem)"
    >
      <MegaphoneIcon slot="icon" />
    </ServiceCard>
    <ServiceCard
      title="Workshops"
      description="Targeted to social, educational and health sectors professionals, to learn how to detect abuse symptoms and the right measures to take."
      width="calc(30% - 2rem)"
      isDark={true}
    >
      <PencilRulerIcon slot="icon" />
    </ServiceCard>
    <ServiceCard
      title="Support groups"
      description="We offer help to parents suffering from abusive relationships, providing a safe space to share their experiences and receive emotional support."
      width="calc(30% - 2rem)"
    >
      <HandHeartIcon slot="icon" />
    </ServiceCard>
    <ServiceCard
      title="Counseling"
      description="Parents and professionals who require personalized attention when dealing with a child abusive situation can book a private session with us."
      width="calc(70% - 2rem)"
    >
      <CompassIcon slot="icon" />
    </ServiceCard>
  </div>
</section>

<style>
  #services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  #services-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #services-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  h2 {
  }
</style>
