---
import TeamCard from "./TeamCard.astro";
import samuelImg from "../assets/samuel.jpg";
import patrikImg from "../assets/patrik.jpg";
---

<div class="about-team-inner">
  <div class="team-cards">
    <TeamCard
      name="Samuel Schürer"
      role="Psychological counselor since 1993"
      image={samuelImg}
      description="For more than three decades of practice, I have witnessed over and over how adult clients are still suffering from the emotional and psychological maltreatment they endured as children. As a couple counselor, I have also observed how parent conflicts can numb them to the suffering their children go through. Tragically, parents often repeat the patterns of harm they once endured. To break this cycle, we must protect the most vulnerable: our children."
    />

    <TeamCard
      name="Patrik Takáč"
      role="Administration / Communication Manager"
      image={patrikImg}
      description="I believe that communication is one of the most powerful tools we have to shape the world. For me, it is an opportunity to contribute to the protection of children and to the prevention of emotional abuse – an issue still far too often overlooked in our society. I want my work to have meaning beyond itself – to support change that I consider both necessary and right."
    />
  </div>
</div>

<style>
  .team-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
  }
</style>
