---
import { ClientRouter } from "astro:transitions";
import Font from "astro/components/Font.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import toys from "../assets/toys.jpg";
const { isNotSection } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <ClientRouter />
    <Font cssVariable="--font-manrope" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preload" href={toys.src} as="image" />
    <meta name="generator" content={Astro.generator} />
    <title>EPAO</title>
  </head>
  <body>
    <Header />
    {
      isNotSection ? (
        <slot />
      ) : (
        <main class="section-page-container">
          <slot />
        </main>
      )
    }
    <Footer />
  </body>
</html>

<style>
  :global(:root) {
    --border-radius: 12px;
    --black: hsl(0, 0%, 15%);
    --primary-500: #4a6982;
    --white: hsl(228, 10%, 95%);
    --button-primary: #4a6982;
    --light-color-bg: hsl(204 29% 86% / 1);
    --lighter-color-bg: hsl(204 29% 90% / 1);
    --smooth-overlay: hsl(146 24% 90% / 1);

    --small-text-lh: 1.5rem;

    /* --box-shadow-lg: hsl(203 18% 40% / 1) 1.5px 1.5px 5px -2px; */
    /* --box-shadow-dk: hsl(203 18% 0% / 1) 1.5px 1.5px 5px -2px; */
    h2 {
      font-size: 2.25rem;
      font-weight: bold;
      margin: 0;
      color: var(--black);
    }

    p {
      margin: 0;
      font-size: 1rem;
      font-weight: 300;
      color: var(--black);
      line-height: 1.75rem;
    }

    * {
      box-sizing: border-box;
      font-family: var(--font-manrope);
    }

    .front-section {
      padding: 5rem 2rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 1024px) {
      .front-section {
        padding: 2rem 2rem;
      }
    }

    @media (max-width: 768px) {
      .front-section {
        padding: 2rem 1rem;
      }
    }

    .front-section-content {
      display: flex;
      max-width: 1440px;
      margin: 0 auto;
      width: 100%;
    }
  }
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    scroll-behavior: smooth;
  }
  .section-page-container {
    padding-top: 5rem;
    min-height: calc(100vh - 200px);
  }
</style>
