---
import Font from "astro/components/Font.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Font cssVariable="--font-manrope" preload />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>EPAO</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  :global(:root) {
    --border-radius: 12px;
    --black: hsl(0, 0%, 15%);
    --primary-500: #455a64;
    --white: #fafafa;
    --button-primary: #4a6982;
    --light-color-bg: hsl(204 29% 94% / 1);
    --smooth-overlay: hsl(146 24% 90% / 1);

    --small-text-lh: 1.5rem;

    /* --box-shadow-lg: hsl(203 18% 40% / 1) 1.5px 1.5px 5px -2px; */
    /* --box-shadow-dk: hsl(203 18% 0% / 1) 1.5px 1.5px 5px -2px; */

    * {
      box-sizing: border-box;
    }
  }
  html,
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
  }
</style>
